

#topLocalTitle{
	-fx-background-color: #1b1d20;
	-fx-border-width: 0 1 0 1;
}

#AnchorPane_localMusicList{
	-fx-background-color: #1b1d20;
	-fx-border-width: 0 1 0 1;
}

#Button_localSearch{
	-fx-background-image: url("SearchDark.png")
}
#Button_localSearch:hover{
	-fx-background-image: url("Search.png")
}

.list-cell:filled:selected:focused, .list-cell:filled:selected ,.list-cell:filled:hover {
    -fx-background-color: #434446;
    -fx-text-fill: white;
}

.list-cell:odd { /* <=== changed to even */
    -fx-background-color: #1b1c20;
}

.list-cell:even { /* <=== changed to even */
    -fx-background-color: #242529;
}
 
//所有table的设置

 .table-view{
   -fx-background-color: #1b1d20;
}


.table-view .column-header-background .filler {
    -fx-background-color: linear-gradient(#131313 0%, #424141 100%);
}

.table-view .column-header-background{
    -fx-background-color: linear-gradient(#131313 0%, #424141 100%);
}

.table-view .column-header{
	-fx-border-color:white;
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: #c0c0c0;
}

.tableColumn{
	-fx-border-color:null;
}

.table-view .column-header {
    -fx-background-color: linear-gradient(#131313 0%, #424141 100%);
}

.table-view .table-cell{
    -fx-text-fill: #c0c0c0;
    -fx-font-size: 18;
}

.table-row-cell .text{
	-fx-alignment: center;
}

.table-row-cell:hover .text, .table-row-cell:selected .text{
    -fx-effect: dropshadow(three-pass-box , -fx-shadow-highlight-color, 5, 0.0 , 0, 0);
}

.table-row-cell{
    -fx-text-fill: #c0c0c0;
	-fx-pref-height: 30;
    -fx-background-color: #1b1d20; 
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; 
}

.table-row-cell:odd{
    -fx-background-color: #242529; 
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; 
}

.table-row-cell:selected{
    -fx-background-color: #4d4e53;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
    -fx-text-fill: white;
}

.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background, 
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}



.table-view > .virtual-flow > .scroll-bar > .increment-button, 
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
}

.check-box-table-cell {
    -fx-alignment: center;
    -fx-padding: 0;
}
.check-box-table-cell > .check-box {
    -fx-opacity: 1;
    -fx-padding: 0 0 0 0;
}

.check-box-table-cell > .check-box:hover {
    -fx-effect: dropshadow(three-pass-box , -fx-shadow-highlight-color, 5, 0.0 , 0, 0);
}

.check-box-table-cell > .check-box > .box {
	-fx-pref-height: 19;
	-fx-pref-width: 19;
    -fx-background-color: #bfbfbf;
    -fx-background-insets: 0, 0 0 0 0;
    -fx-shape: "m240.75349,246.24733c-19.67957,-16.53836 -26.71553,-26.99994 -26.77217,-39.80664c-0.05231,-11.67738 8.633,-22.94395 17.6339,-22.88075c4.49556,0.03326 14.13744,4.33099 17.5517,7.82373c1.72049,1.75967 2.53487,1.5867 6.36438,-1.35718c10.42403,-8.00502 20.6032,-8.173 27.19536,-0.4474c10.53561,12.34599 8.6178,27.09033 -5.51373,42.38446c-7.51349,8.12979 -23.92108,22.55653 -25.65549,22.55653c-0.5284,0 -5.39021,-3.72223 -10.80394,-8.27275l0,0z";
}

.check-box-table-cell > .check-box:selected > .box {
    -fx-background-color: null;
}

.check-box-table-cell > .check-box:selected > .box > .mark {
	-fx-min-height: 19;
	-fx-min-width: 19;
    -fx-background-color: red;
    -fx-background-insets: 0, 1 0 0 0;
    -fx-shape: "m308.50922,243.51909c-30.9054,-26.30971 -41.95804,-42.95123 -42.05154,-63.32677c-0.07797,-18.57214 13.5625,-36.50041 27.70175,-36.39917c7.05408,0.05774 22.19885,6.89209 27.56296,12.44633c2.70462,2.79889 3.98291,2.52402 9.99246,-2.15517c16.37622,-12.73573 32.36386,-13.00334 42.71512,-0.7159c16.54074,19.64244 13.53146,43.09985 -8.65979,67.42815c-11.80194,12.93759 -37.57077,35.88528 -40.29871,35.88528c-0.82617,0 -8.4584,-5.92317 -16.96225,-13.16277l0,0z";
}



//以上是table的设置




#AnchorPane_center{
	-fx-border-color:#42444a;
}

.lightLabel{
	-fx-background-color: #1b1d20;
	-fx-text-fill: #ffffff;
}

.checkbox{
	-fx-text-fill: #bfbfbf;
	-fx-font-size: 20;
}

.checkbox:hover{
	-fx-background-color: #1b1d20;
	-fx-text-fill: #ffffff;
}
 
.lightButton{
	-fx-text-fill: #bfbfbf;
	-fx-background-color: #1b1d20;
	-fx-border-color:#bfbfbf;
}
.lightButton:hover{
	-fx-text-fill: white;
	-fx-background-color: #42444a;
	-fx-effect: dropshadow(three-pass-box , -fx-shadow-highlight-color, 8, 0.0 , 0, 0);
}
.lightButton:pressed{
	-fx-text-fill: white;
	-fx-background-color: #42444a;
}
.lightButton:focused{
	-fx-text-fill: white;
	-fx-background-color: #42444a;
}