
#AnchorPane_left{
	-fx-background-color: #1b1d20;
}

#AnchorPane_CurrentSongInfo{
	-fx-background-color: #1b1d20;
}

#HBox_leftManageField{
	-fx-background-color: #1b1d20;
	-fx-border-color:#bfbfbf;
}

.AddList{
	-fx-pref-width: 40;
	-fx-pref-height: 40;
	-fx-background-color: #1b1d20;
	-fx-background-image: url("AddListDark.png");
}

.AddList:hover{
	-fx-background-image: url("AddList.png");
}

.ListField{
	-fx-pref-width: 230;
	-fx-pref-height: 70;
	-fx-background-color: #1b1d20;
	-fx-text-fill: white;
	-fx-text-size: 50;
}

.listButton{
	-fx-text-fill: #bfbfbf;
	-fx-font-size: 25;
	-fx-pref-width:280;
	-fx-pref-height:50;
	-fx-background-color: #1b1d20;
	-fx-border-color:#bfbfbf;
}
.listButton:hover{
	-fx-text-fill: white;
	-fx-background-color: #42444a;
}
.listButton:pressed{
	-fx-text-fill: white;
	-fx-background-color: #42444a;
}
.listButton:focused{
	-fx-text-fill: white;
	-fx-background-color: #42444a;
}

.CloseList{
	-fx-background-image: url("CloseListDark.png");
}

.CloseList:hover{
	-fx-background-image: url("CloseList.png");
}


.list-view{
	-fx-background-color: #1b1d20;
	-fx-border-color:#bfbfbf;
	-fx-padding: 0;
}


.scroll-bar:vertical{
	-fx-background-color: #1b1d20;
	-fx-border-color:#bfbfbf;
}
 
.noborder{  
	-fx-background-color: #1b1d20;
    -fx-padding: 0;  
    -fx-background-insets: 0;  
}  

.lightLabel{
	-fx-background-color: #1b1d20;
	-fx-text-fill: white;
}

.lightButton{
	-fx-text-fill: #bfbfbf;
	-fx-background-color: #1b1d20;
	-fx-border-color:#bfbfbf;
}
.lightButton:hover{
	-fx-text-fill: white;
	-fx-background-color: #42444a;
}
.lightButton:pressed{
	-fx-text-fill: white;
	-fx-background-color: #42444a;
}
.lightButton:focused{
	-fx-text-fill: white;
	-fx-background-color: #42444a;
}