 
.lightLabel{
	-fx-text-fill: white;
	-fx-background-color : null;
}

.tab {
	-fx-background-color: #1b1d20;
	-fx-border-color: null;
}

.tab:hover{
	-fx-background-color: #555555;
}

.tab:hover .text{
	-fx-background-color: #555555;
	-fx-effect: dropshadow(three-pass-box , -fx-shadow-highlight-color, 5, 0.0 , 0, 0);
}

.tabFocused{
	-fx-border-color: null;
	-fx-background-color: #b72525;
}

.tab-label{
	-fx-text-fill: white;
}

#TabPane_tabPane{
	-fx-background-color: #1b1d20;
}

.tab-header-background {
	-fx-background-color: #1b1d20;
}

